* {
    margin: 0;
    padding: 0;
    background-color: #4c4cbb
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.c1 {
    border: 5px black solid;
    background: white;
}