* {
    margin: 0;
    padding: 0;
    background-color: #4c4cbb
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.chat {
    background: whitesmoke;
    height: 750px;
}

.chat input {
    background: white;
    color: black;
}

.c1 {
    border: 4px black solid;
    background: white;
}

.btn-clear {
    background-color: whitesmoke;
    padding: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    border: 3px black solid;
    text-decoration: none;
    color: black;
}