* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #4c4cbb;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: monospace;
}

.chat {
    background: whitesmoke;
    width: 300px;
    height: 750px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: .5rem;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    position: relative;
}

.chat input {
    background: white;
    color: black;
    padding: 4.4px;
}

.chat-form {
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Cambiado de fixed a absolute */
    bottom: 0;
}

.guessed {
    background: red;
    padding: 4.4px;
    color: white;
    border: 1px solid red;
    border-radius: 3px;
    cursor: pointer;
}
.guessed:hover {
    background: rgb(107, 0, 0);
}

.c1 {
    border: 3px black solid;
    background: white;
    border-radius: .5rem;
}

.mssg-container {
    display: flex;
    background: whitesmoke;
    max-height: calc(600px - 60px);
    overflow-y: auto;
    flex-direction: column;
}

.mssg-container li {
    list-style: none;
    background-color: whitesmoke;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.btn-clear {
    font-size: 15px;
    padding: 7px 25px;
    border: 1px white solid;
    color: white;
    border-radius: .5rem;
}

span {
    background: whitesmoke;
}

#nickname {
    font-size: 14px;
}

#mssg {
    font-size: 14px;
}